.custom-shadow {
  box-shadow: 0 2px 5px rgba(0, 1, 1, .3);
}

.list-circle {
  list-style-type: none;
}

.list-circle li {
  position: relative;
  padding-left: 1.5em;
}

.list-circle li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0.5em;
  width: 0.6em;
  height: 0.6em;
  background-color: rgb(245, 242, 242);
  border-radius: 50%;
  border: 1px solid black;
}

.list-square {
  list-style-type: none;
}

.list-square li {
  position: relative;
  padding-left: 1.5em;
}

.list-square li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0.5em;
  width: 0.6em;
  height: 0.6em;
  background-color: rgb(8, 8, 8);

}

.custom-dots .slick-dots {
  bottom: 30px;
}

.custom-dots .slick-dots li button:before {
  font-size: 16px;
  color: #333;
}

.custom-dots .slick-dots li.slick-active button:before {
  color: #555;
}

.dots {
  position: relative;
}

.dots::before {
  content: "";
  height: 8px;
  width: 8px;
  background-color: rgb(32, 32, 32);
  position: absolute;
  margin: 6px -18px;
  border-radius: 50%;
}
.login{
  padding:3rem;
}




@media (max-width:320px) {
  .text-6xl {
    font-size: 2rem !important;
  }

  .text-5xl {
    font-size: 2rem !important;
  }

  .w-\[18rem\] {
    width: 13rem !important;
  }

  .h-\[18rem\] {
    height: 13rem !important;
  }

  .product-slider .slick-dots {
    bottom: -4px !important;
  }
  .login{
    padding:1rem;
  }
}

@media (max-width:375px) {
  .text-6xl {
    font-size: 2rem !important;
  }
  .login{
    padding:1rem;
  }

  .text-5xl {
    font-size: 2rem !important;
  }

  .w-\[18rem\] {
    width: 13rem !important;
  }

  .h-\[18rem\] {
    height: 13rem !important;
  }

  .product-slider .slick-dots {
    bottom: -4px !important;
  }
}

@media (max-width:425px) {
  .text-6xl {
    font-size: 2rem !important;
  }

  .text-5xl {
    font-size: 2rem !important;
  }

  .w-\[18rem\] {
    width: 13rem !important;
  }

  .h-\[18rem\] {
    height: 13rem !important;
  }

  .product-slider .slick-dots {
    bottom: -4px !important;
  }
}

@media (min-width: 768px) {
  .md\:grid-cols-3 {
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
  }
}