.custom-scrollbar::-webkit-scrollbar {
    height: 8px; /* Scrollbar height for horizontal scroll */
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: white; /* Dark gray color */
    border-radius: 8px; /* Rounded edges */
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: #2d2d2d; /* Slightly lighter gray for track */
    border-radius: 8px;
  }
  